
.a{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #191327;
    
    
}
.a-left{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* background-color: red; */
    position: relative;
    height: 100%;
    
}
.a-right{
    flex:1;
}
.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.a-img{
     width: 100%;
    height: 100%; 
    object-fit: cover; 
    
}

.a-card.bg{
    position:absolute;
    top: 50px;
    left: 50px;
    background-color:  #693ac0;
    box-shadow: rgba(119, 32, 195, 0.25) 0px 50px 100px -20px, rgba(111, 34, 153, 0.3) 0px 30px 60px -30px, rgba(52, 12, 63, 0.35) 0px -2px 6px 0px inset;

}

.a-title{
    color: #8549F3;
    font-weight: 400px;
    font-size: 35px;
    margin-bottom: 10px;
}
.a-sub,.a-desc{
    color: #ffffff;


}




@media screen and (max-width:1024px)  {
    .a{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .a-left{
        width: 100%;
    }
    .a-card{
        height: 60vh;
    }
    .a-card.bg{
        display: none;
    }
    .a-img{
       height: 100%; 
       object-fit: cover; 
   }
}

@media screen and  (min-width:768px) and (max-width:1023px){
    .a{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .a-left{
        width: 100%;
    }
    .a-card{
        height: 50vh;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .a-card.bg{
        display: none;
    }
}


@media screen and  (min-width:340px) and (max-width:767px){
    .a{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        /* margin-top: 50px; */
    }
   
    .a-card.bg{
        display: none;
    }
}






