

/* @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

#navtop{
  position: fixed;
  z-index: 1;
  width: 100%;

}
  #name{
    font-size: 25px;
  }

  
.resbtndiv{
    display: flex;
    color: #ffffff;
    gap: 30px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* border: 1px solid red; */

}
.resbtn{
    /* border: 1px solid red; */
    margin-bottom: 16px;
}

















