

/* @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

#navtop{
  position: fixed;
  z-index: 1;
  width: 100%;

}
  #name{
    font-size: 25px;
  }

  

/* .bbbb{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
} */



.resbtndiv{
    display: flex;
    color: #ffffff;
    gap: 30px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* border: 1px solid red; */

}
.resbtn{
    /* border: 1px solid red; */
    margin-bottom: 16px;


}







/* 
.Navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #191327;

    
    position: fixed;
    z-index: 19999999999999;
  }
  
  .Navbar > .nav-logo {
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
    color: #ffffff;
    padding-left: 50px;
    cursor: pointer;
  }
  
  .Navbar > .nav-items > a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    margin-right: 80px;
    position: relative;
    opacity: 0.9;
  }
  
  .Navbar > .nav-items > a:hover {
    opacity: 3;
    color: #693ac0;

  }
  
 
  
  .Navbar > .nav-items > a:hover::before {
    width: 100%;
  }
  
  .Navbar > .nav-toggle {
    display: none;
  }
  
  @media (max-width: 700px) {
    .Navbar > .nav-items {
      position: absolute;
      top: 60px;
      display: flex;
      flex-direction: column;
      background: #191327;

      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: all .45s;
    }
  
    .Navbar > .nav-items > h3::before {
        background: transparent;

    }
  
    .Navbar > .nav-items.open {
        transform: translateX(0);
    }
  
    .Navbar > .nav-toggle {
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  
    .nav-toggle > .bar {
      position: relative;
      width: 32px;
      height: 2px;
      background: #ffffff;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle > .bar::before,
    .nav-toggle > .bar::after {
      content: "";
      position: absolute;
      height: 2px;
      background: #ffffff;
      border-radius: 2px;
      transition: all 0.45s ease-in-out;
    }
  
    .nav-toggle > .bar::before {
      width: 25px;
      transform: translateY(-8px);
      right: 0;
    }
  
    .nav-toggle > .bar::after {
      width: 32px;
      transform: translateY(8px);
    }
  
    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;

      
    }
  
    .nav-toggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
  
    .nav-toggle.open > .bar::after {
      transform: rotate(-45deg) translate(26px, 26px);
    }
  
  
  }


.NavRow{

    display: flex;

    color: #ffffff;
    gap: 30px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}


.nav-cont{
    color: #fff;
    transition: 0.3s ease;
  
}
.nav-cont:hover{
    color: #693ac0;
}

.NavRow>button{
    margin-bottom: 13px;
}



@media screen and (max-width:1024px)  {
    .NavRow{

        display: flex;
    
        color: #ffffff;
        gap: 30px;
        margin-right: 40px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
       
    
    }
 
}



@media screen and  (min-width:340px){
    .open>.NavRow{
        display: flex;

         border: 2px solid bisque;
        justify-content: end;
        width: 50px;
        margin-left: 85%;
    }
   
  
  
}  */




































































































































  /* .Navbar {
    height: fit-content;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    position: fixed;
    z-index: 1;
    top: 0px;
    box-shadow: 0 8px 8px -4px rgba(52, 58, 139, 0.5);
   
    animation: 1s ease-out 0s 1 slideInNavbarFromTop;
    z-index: 3;
 
}

.active {
    color: rgb(73, 38, 188);
    font-weight: 700 !important;
}

.NavRow {
    display: flex;
    margin-right: 70px;
    border: 1px solid blue;

  
} */
/* .NavRow>div{
    border: 2px solid rgb(0, 255, 0);
}

.nav-cont {
    flex-grow: 1;
    text-align: center;
    font-size: 0.9rem;
    font: 12px Arial;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    background: rgba(100, 100, 100, 0.5); 
    background: linear-gradient(to top, rgba(100, 100, 100, 0)  50%,teal 50%) bottom;
    background-size: 100% 200%;
    transition: .1s ease-out;
    cursor: pointer;
}

.nav-cont > p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.nav-cont:hover{
    background-position: top;
    /* color: #0f1338 ; */
    /* color: teal; */
    /* height: 20vh; */
/* } */



/* .theme-cont {
    flex-grow: 1;
}


.theme-btn {
    width: fit-content;
    height: fit-content;
    float: right;
    padding: 0.6rem;
    margin-top: 10px;
    margin-right: 20px;
    right: 100%;
    border-radius: 50%;
    transition: "all 1s ease-in-out";
    cursor: pointer;
    margin-top: 15px;
} 

.theme-btn:hover {
    /* background-color: tomato !important; */
    /* opacity: 0.4; */
/* } */

/* .small {
    display: none;
}

.dis-able {
    position: absolute;
    z-index: 3;
    padding: 10px;
}

.onlySmallScreen{
    display: none;
}

.profilepic{
    width:fit-content;
    height: 70px;
    margin-right: auto;
    display: flex;
 
    margin-left: 350px;
    color: white;
    
}
.profilepic>img{
   margin-bottom: 10px;
    border-radius: 50%;
    width: fit-content;
    height: 50px;
    margin-top: 10px;
}
.profilepic>h3{
    width: 150px;
    margin-bottom: 10px;
}

@keyframes slideInNavbarFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @media only screen and (max-width: 490px) {
      .onlySmallScreen{
          display: block;
          padding: 10px;
      }
      .NavRow {
          display: none;
      }
      .theme-btn {
        margin-top: 3px;
        margin-bottom: 3px;
        margin: auto;
      }
  }


  @media only screen and (max-width: 530px) {
      .nav-cont{
          font-size: 0.7rem;
      }
  }  

 */


























































































































  /* .nav{
    top: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
    padding: 0.8rem;
    background-color: var(--black-body);
    
     background-color:black;
     color: aliceblue;
 

    font-family: "Montserrat", sans-serif;
}
.nav-sticky{
    background-color: var(--black-low);
  

}
.nav-space{
    width: 100%;
    height: 7vmax;
}
.nav-mobile{
    display: none;
}
.nav-mobile-btn{
    display: none;
}


.scroll-up-btn i {
    display: none;    
}
.scroll-up-btn i{
    color: var(--aqua);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.7rem 0.7rem;
    margin: 0.5rem;
    z-index: 7;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    background: var(--black-high);
    border: 0.1rem solid var(--aqua);  
}
.scroll-up-btn .show{
    display: block;   
}

.nav a{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.nav h2{
    font-size: 2rem;
    padding: 0.2rem 3rem;
    color: var(--white);
    cursor: pointer;
}
.nav h2 span{
    color: var(--aqua);
}



.nav ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    position: relative;
    left: 20rem;
}
.nav ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.nav ul li a{
    font-size: 1rem ;
    color: var(--aqua);
    list-style: none;
    text-decoration: none;
}
.nav ul li i{
    font-size: 1rem ;
    padding-right: 0.6rem;
}
.nav ul li a i{
    color: var(--white);
}

.nav ul li:hover{ 
    border: 0.15rem solid var(--aqua);
    border-radius: 0.3rem;
}
.nav ul li:hover>a { 
    color: var(--aqua);
    font-weight: bold;
    text-shadow: 10px 5px 20px var(--aqua);
}

.nav ul li:hover>a>i { 
    color: var(--aqua);
    font-weight: bold;
    text-shadow: 10px 5px 20px var(--aqua);
}

.nav .active{ 
    color: var(--aqua);
    font-weight: bold;
    border-bottom: 0.15rem solid var(--aqua);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.nav .active i{ 
    color: var(--aqua);
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .nav ul{
        left: 8rem;
    }
  }

@media only screen and (max-width: 1000px) {
    .nav-mobile{
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 8;
        background-color: var(--black-body);
        font-family: "Montserrat", sans-serif;
    }
    .nav-mobile-sticky{
        background-color: var(--black-low);
    }
    
    .nav-mobile a{
        list-style: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    .nav-mobile h2{
        font-size: 2rem;
        padding: 1.5rem 2rem;
        color: var(--white);
        cursor: pointer;
    }
    .nav-mobile h2 span{
        color: var(--aqua);
    }
    .nav-mobile-btn{
        cursor: pointer;
        display: block;
        color: var(--white);
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
    .nav-mobile-btn span i{
        font-weight: bold;
        font-size: 1.4rem;
    }
    .nav-mobile-btn span .btn_active::before{
        content: "x";
    }
    .scroll-up-btn i{
        position: fixed;
        bottom: 1rem;
        right: 1rem; 
    }


    .nav{
        top: 6.5rem;
        right: -300%;
        width: auto;
        display: block;
        position: fixed;
        border-radius: 0.5rem;
        transition: all 0.7s ease;
        background-color: var(--black-low);
        animation: 4s ease;
    }
    nav .nav_active{
        right: 1rem;
        animation: navbar 1s ease-in-out;
    }
    @keyframes navbar{
        0%{
            right: -50%;
        }
        50%{
            right: 1rem;
        }
    }
    .nav h2{
        display: none;
    }   
    .nav ul{
        display: block;
        left: 0%;
    }
    .nav ul li{
        padding: 1rem 2rem;
    }
    .nav ul li a i{
        color: var(--white);
    }
    .nav ul li:hover{ 
        border: none;
        border-radius: none;
    }
    .nav ul li:hover>a { 
        text-shadow: none;
    }
    .nav ul li:hover>a>i { 
        text-shadow: none;
    }
    .nav .active{ 
        color: var(--aqua);
        font-weight: bold;
        border-bottom: 0.15rem solid var(--aqua);
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-right: 0.6rem;
    }
    .nav .active i{ 
        color: var(--aqua);
        font-weight: bold;
    }
  }


  @media only screen and (max-width: 280px) {
    .nav-mobile-btn{
        top: 4rem;
    }

}


 */
